.parte-superior {
  display: flex;
  margin-top: 88px;
  padding-top: 3.5rem;
  gap: 64px;
  justify-content: space-between;
}

h1,
p,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
}

.titulo {
  font-size: 48px;
  font-family: "roboto", sans-serif;
  width: 380px;
  height: 127.52px;
  font-weight: bold;
  margin-top: 0;
}

.paragrafo {
  font-size: 20px;
  width: 500px;
  height: 192px;
  text-align: left;
  line-height: 1.5em;
}

.cards-geral {
  display: flex;
  justify-content: space-between;
  margin-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.cards {
  border-radius: 5px;
  background-color: #fbfbfb;
  padding: 30px;
  width: 300px; /* define um tamanho fixo (ou usa flex) */
  max-height: 296px; /* altura mínima */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
}

.p-card {
  background-color: #fbfbfb;
}

.test-bg {
  background-color: #b01212;
}

.texto-apresentacao {
  display: block;
}

.imagem img {
  max-width: 556px;
  max-height: 371px;
}

.total {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: -20px;
  margin-bottom: 80px;
}

.imagem-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: #fff;
  border-radius: 100%;
  width: 65px;
  height: 65px;
}

.card-logo {
  width: 30px;
  height: 30px;
  color: #fff;
}
