.main-content {
  background-color: var(--color-bg-alt);
}

.intro-content {
  padding-top: 6rem;
  padding-bottom: 3.5rem;
}

.intro-main {
  display: flex;
  justify-content: space-between;
}

.intro-image {
  border-radius: 6px;
}

.minimal-title {
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--color-text);
}

.title {
  max-width: 380px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 36px;
  color: var(--color-text);
}

.describe-phone {
  max-width: 350px;
  font-size: 20px;
  margin-bottom: 60px;
  color: var(--color-text);
}

.button {
  color: var(--color-text-button);
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 6px;
  font-size: 20px;
  transition-duration: 300ms;
  cursor: pointer;
  border: 0px;
}
a.button
{
  display: inline-block;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.list-intro {
  display: flex;
  justify-content: space-around;
  margin-top: 3.125rem;
  background-color: var(--color-bg-section);
  border-radius: 6px;
}

.item-list {
  display: flex;
  padding-top: 35px;
  padding-bottom: 35px;
  gap: 20px;
  color: var(--color-text);
}

.list-icon {
  color: #124ec9;
  font-size: 32px;
}

.list-icon svg {
  width: 50px;
  height: 50px;
}

.list-title {
  font-size: 2rem;
  font-weight: bold;
}

.list-description {
  font-size: 1.2rem;
  font-weight: normal;
}

@media (max-width: 1000px) {
  .intro-main {
    flex-direction: column-reverse;
  }

  .minimal-title {
    margin-top: 40px;
  }
}

@media (max-width: 800px) {
  .item-list {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .item-list {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }

  .list-intro {
    flex-direction: column;
  }

  .list-description {
    font-size: 14px;
  }

  .list-title{
    font-size: 20px;
    text-align: center;
  }


}

@media (max-width:500px) {
  .list-intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .item-list {
    width: 200px;
  }
}
