.natureza{
    display: flex;
    width: 100%;
    height: 799px;
    background: #EBEBEB;
    
}

#imgNatureza{
    width: 799px;
    height: 799px;
}

.textNatura{
    /* padding: 20px; */
    margin-left: 40px;
    margin-top: 100px;
    
}

.textNatura h2 {
    width: 620px;
    height: 101px;
    font-size: 36px;
    /* text-align: initial; */
}

.textNatura p {
    margin-top: 30px;
    width: 490px;
    height: 95px;
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
}

#retangulo {
    position: absolute;
    left: 600px;
    margin-top: 100px;
    display: flex;
    width: 539px;
    height: 138px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    & h2{
        width: auto;
        text-align: center;
        /* background: blue; */
        height: 50px;
    }
    background: #D9D9D9;
    
}

footer{
    background: #D9D9D9;
    margin-top: 20px;
}
footer .container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}
footer #logo-footer img
{
    width: 300px;
}
footer #contatos span
{
    display: block;
    margin-top: 15px;
}
footer #contatos span:first-child
{
    margin-bottom: 40px;
}
footer #social-media-footer
{
    margin: 10px 0 0 0;
}
footer #social-media-footer img
{
    margin: 0 0 0 10px;
}
footer #informacoes ol
{
    list-style: none;
}
footer #informacoes p:first-child
{
    margin: 10px 0 40px 0;
}
footer #informacoes ol li
{
    margin: 10px 0 0 0;
}
footer #informacoes a
{
    text-decoration: underline;
}